<!-- <div class="topbar">
    <img class="icono" src="../../assets/icons/logo.ico" alt="">
    <img class="logo" src="../../assets/img/trisol.png" alt="">
</div>
<div>

    <p-tabMenu [model]="items" class="menu"></p-tabMenu>
    <h1>HOME LANDING-PAGE</h1>
    <h2>H</h2>

</div> -->

<div class="papa">

    <!-- AQUI VA EL TOBAR -->
    <div class="encabezado">
        <!-- <img class="icono" src="../../assets/icons/trisol.ico" alt=""> -->
        <img class="icono" src="../../assets/icons/trisol-ng.png" alt="">
    </div>

<!-- AQUI VA EL CARRUSEL -->
    <div class="carrusel">
        <div class="subcarrusel">CARRUSEL</div>
    </div>


<!-- AQUI VA LA MISION Y VISION -->
    <div class="misionVision">
        <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
            <div style="display: flex; justify-content: center; margin-bottom: 20px; align-items: center; flex-direction:column;">
                <div>
                    <P class="mision-title">MISION</P>
                </div>
                <div class="submision" style="text-align: center; display: flex; align-items: center; font-size:x-large; color: white;">
                    Mejorar la calidad de vida de los Nortecaucanos, proporcionando soluciones de comunicación,
                    entretenimiento y servicios digitales.
                </div>
            </div>
            <div class="imgmision">
                <img class="imgmision" src="../../assets/img/MISION.jpeg" alt="">
            </div>
            <div class="" style="color: white;">
                Sin definir
            </div>
        </div>

        <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
            <div class="imgvision">
                <img class="imgvision" src="../../assets/img/VISION.jpeg" alt="">
            </div>
            <div class="" style="color: white;">
                Sin definir
            </div>
            <div style="display: flex; justify-content: center; align-items: center; flex-direction:column;">
                <div>
                    <P class="mision-title">VISION</P>
                </div>
                <div class="subvision" style="text-align: center; display: flex; align-items: center; font-size:x-large; color: white;">
                    Ser la empresa líder en la comercialización de soluciones fijas y móviles, apoyados en la conectividad
                    y el desarrollo integral de las personas en nuestro entorno.
                </div>
            </div>
        </div>
    </div>


<!-- AQUI VA EL SERVICIO -->
    <div class="servicio">
        <div class="subservicio">SERVICIO</div>
    </div>

<!-- AQUI VA EL CONTACTO -->
    <div class="contacto">
        <!-- <div class="subcontacto">CONTACTO</div> -->
        <div style="height: 300px; flex: 2;">
        <form (formGroup)="formContact">
          <div style="background: #978383; display: flex; flex-wrap: wrap; justify-content: space-evenly">
            <div class="nombreAndApellido" style="">
              <div style="display: flex; flex-direction: column;">
                <label>NOMBRE</label>
                <input type="text" pInputText />
              </div>

              <div style="display: flex; flex-direction: column;">
                <label>APELLIDO</label>
                <input type="text" pInputText />
              </div>
            </div>

            <div class="correo" style="">
              <div style="display: flex; flex-direction: column;">
                <label>CORREO</label>
                <input type="text" pInputText />
              </div>
            </div>

            <div class="comentario" style="display: flex; flex-direction: column;">
              <label>COMENTARIO</label>
              <textarea [rows]="5" [cols]="30" pInputTextarea></textarea>
            </div>

          </div>

        </form>
      </div>

        <div class="mapa" style="background: #ccc; flex: 1;">

        </div>
    </div>

    <footer class="footer">
        <img class="icono" src="../../assets/icons/trisol-bl.png" alt="">
    </footer>
</div>




