<!-- <div class="topbar">
    <img class="icono" src="../../assets/icons/logo.ico" alt="">
    <img class="logo" src="../../assets/img/trisol.png" alt="">
</div>
<div>

    <p-tabMenu [model]="items" class="menu"></p-tabMenu>
    <h1>HOME LANDING-PAGE</h1>
    <h2>H</h2>

</div> -->

<div class="papa">

    <!-- AQUI VA EL TOBAR -->
    <div class="encabezado">
        <!-- <img class="icono" src="../../assets/icons/trisol.ico" alt=""> -->
        <img class="icono" src="../../assets/icons/trisol-ng.png" alt="">
    </div>

<!-- AQUI VA EL CARRUSEL -->
    <div class="carrusel">
        <div class="subcarrusel">CARRUSEL</div>
    </div>

        
<!-- AQUI VA LA MISION Y VISION -->
    <div class="misionVision">
        <div class="submision">MISION Y VISION</div>
    </div>


<!-- AQUI VA EL SERVICIO -->
    <div class="servicio">
        <div class="subservicio">SERVICIO</div>
    </div>

<!-- AQUI VA EL CONTACTO -->
    <div class="contacto">
        <div class="subcontacto">CONTACTO</div>
    </div>

    <footer class="footer">
        <img class="icono" src="../../assets/icons/trisol-bl.png" alt="">
    </footer>
</div>




